*{
    margin:0;
}

#timetable{
    margin:auto;
    font-size: 20px;
    margin-top: 7em;
}

.select_box{
    max-width: 100;
    min-width: 100px;
    padding: 3px;
    height: 30px;
    border-bottom: 5px solid #a4a4a4;
}

.inline-items{
    padding: 10px;
}

th{
    background-image: linear-gradient(to bottom, rgb(222, 222, 222), rgb(255, 255, 255));
    height: 50px;
    width:100px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 2px solid #bdbcbb;
    box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.2);
}

.time{
    font-family: 'Roboto', sans-serif;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    padding-left: 10px;
}